
.home-section-title {
  color: var(--color1);
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(30px, 8vw, 60px); /*min, ideal, max*/
  transition: font-size 0.3s ease;
}

/*Sección personaje del Día*/
.card-personaje-del-dia {
  overflow: hidden;
  background: var(--color-principal);
  height: fit-content;
  border: 4px solid var(--color2) !important;
  border-radius: 20px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-personaje-del-dia:hover{
  transform: translateY(-4px);
  box-shadow: 0 0 20px var(--color2);
}

.card-personaje-del-dia .nombre-del-dia{
  font-family: var(--texto-encabezados);
  color: var(--color3);
}

.card-personaje-del-dia .nombre-del-dia:hover{
  color:transparent;
  -webkit-text-stroke: 1px var(--color3); /*solo deja el contorno del texto.. Es un WebKit --> propiedad nativa del navegador*/
}

.card-personaje-del-dia-img {
  /*height: 260px;*/
  object-fit: cover;
  filter: brightness(0.55);
  height: fit-content;
}

.personaje-del-dia-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.15));
}

.nombre-del-dia{
  font-size: clamp(20px, 5vw, 40px);
  transition: font-size 0.3s ease;
}


.card-personaje-del-dia .home-mbti-badge {
  background-color: var(--color-principal);
  color: var(--color5);
  border: 2px solid var(--color5);
  font-weight: bold;
  font-size: clamp(20px, 5vw, 30px);
  transition: font-size 0.3s ease;
  font-family: var(--texto-encabezados);
  padding: 0.4rem 0.75rem;
}

.card-personaje-del-dia .home-mbti-badge:hover{
  color:transparent; 
  -webkit-text-stroke: 1px var(--color5);
}

/*Sección Personajes Populares*/
.popular-carousel {
  border: 4px dashed var(--colorDashed);
  border-radius: 20px;
  padding: 1rem 2rem;
  background: var(--color-grisOscuro);
}

.popular-carousel .popular-card {
  background: var(--color-principal); 
  color: var(--colorTexto);
  border: 4px solid var(--color4);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%; 
  width: 100%; 
  transform: box-shadow 0.3s ease;
}

.popular-carousel .popular-card:hover{
  box-shadow: 0 0 10px var(--color4);
}

.popular-card .popular-card-img {
  width: 100%;
  height: 80%; /* Altura fija para la imagen para que todas las cards sean iguales */
  object-fit: cover;
  border-radius: 18px 18px 0 0; /* Solo redondeado arriba */
}

.popular-card .card-body {
  flex-grow: 1; /* Hace que el cuerpo ocupe el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem !important;
}

.popular-card .popular-card-title {
  font-family: var(--texto-encabezados);
  color: var(--color3);
  line-height: 1.1;
  margin-bottom: 2px;
  font-size: clamp(10px, 5vw, 40px);
  transition: font-size 0.3s ease;
}

.popular-card .popular-card-title:hover {
  color:transparent; 
  -webkit-text-stroke: 1px var(--color3);
}
.popular-carousel .carousel-inner{
  padding: 0 1.5rem;
}

.popular-carousel {
  position: relative;
}

.popular-carousel .carousel-control-prev,
.popular-carousel .carousel-control-next {
  width: 3rem;
  top: 0;
  bottom: 0;
}

.popular-carousel .carousel-control-prev-icon,
.popular-carousel .carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-size: 100% 100%;
  filter: brightness(0) invert(1);
}

.popular-card{
  height: fit-content;
}

.popular-card .home-mbti-badge-small {
  background-color: var(--color-principal);
  color: var(--color5);
  border: 3px solid var(--color5);
  font-weight: bold;
  font-size: clamp(10px, 5vw, 30px);
  transition: font-size 0.3s ease;
  font-family: var(--texto-encabezados);
  padding: 0.4rem 0.75rem;
}

.popular-card .home-mbti-badge-small:hover{
  color:transparent; 
  -webkit-text-stroke: 1px var(--color5);
}

.card-text{
  font-size: clamp(10px, 4vw, 20px);
  transition: font-size 0.3s ease;
}


/*Sección Personalidades Destacadas*/
.home-section-title2{
  color: var(--color4);
  font-size: clamp(30px, 8vw, 60px); /*min, ideal, max*/
  transition: font-size 0.3s ease;
}
.card.personality-card {
  background-color: var(--color-grisOscuro);
  color: var(--colorTexto);
  border: none;
  border-radius: 18px;
  transform: transform 0.4s ease;
}

.card.personality-card:hover{
  transform: translateY(-4px);
}

.personality-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--colorTexto);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tipoPersonalidad-titulo:hover{
  color:var(--color5);
}

.personality-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

@media (max-width: 412px) {
  .home-section-title {
    font-size: 30px;
  }
   .home-section-title2 {
    font-size: 30px;
  }

  .card-text{
    font-size: 20px;
    transition: font-size 0.3s ease;
  }
  .popular-carousel .carousel-control-prev,
  .popular-carousel .carousel-control-next {
    width: 1.5rem;
  }

  .popular-card{
    width: 168px;
    height: 215px;
  }

  .popular-card .home-mbti-badge-small {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
  .popular-carousel .carousel-inner {
    padding: 0 0.5rem; /* Menos padding lateral en móvil */
  }

}